*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html,body {
    height: 100%;
    width: 100%;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 500px;
    width: 500px;
    background-color: #96c11e2b;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
}
#nav{
    height: 145px;
    width: 100%;
   /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}
#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);

}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#page1 h1{
    font-size: 60px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "DISCOVER. CONNECT. LEARN.";
    position: absolute;
    color: black;
    top: -3px;
    left: -3px;
    -webkit-text-stroke: 1px #95c11e;
    z-index: -1;

}
#page1 h2{
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}
#page1 p{
    font-size: 16px;
    font-weight: 600;
    width: 50%;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;

}


#scroller{
   /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
}
#scroller h4:hover{
    color: #95C11E;
}

@keyframes scroll {

    form{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}

#Abstract{
    height: 70vh;
    width: 100%;
   /* background-color: red; */
    display: flex;
   /* padding: 0 50px; */
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
}
#Abstract img{
    height: 180px;
    width: 180;
    border-radius: 20px;
    object-fit: cover;
}
#Abstract-in{
    width: 45%;
    text-align: center;
}
#Abstract-in h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 10px;
}
#Abstract-in p{
    font-size: 15px;
    line-height: 26px;
}

#cards-container{
   /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 24%;
   /* background-color: #95C11E; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://images.unsplash.com/photo-1532012197267-da84d127e765?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGxpYnJhcnl8ZW58MHx8MHx8fDA%3D);
}
#card2{
    background-image: url(https://media.istockphoto.com/id/490266195/photo/rfid-tag.jpg?s=612x612&w=0&k=20&c=TG_2ezskmyPm8CvMSpBT2Ene5kXE5fvdHuX9vUdniDY=);
}
#card3{
    background-image: url(https://media.istockphoto.com/id/1210557301/photo/magic-book-open.jpg?s=612x612&w=0&k=20&c=2T9x_Z_by3QEeo2DdPOapMUi545Zi10V-eDwg6ToUoI=)
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #7bf10c;
    padding: 30px;
    padding-top: 40px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 800;
}
.overlay p{
    color: black;
    font-size: 16px;
}
.card:hover  .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,-1,0,20deg);
}

#green-div {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7bf10c;

}
#green-div h4{
    width: 70%;
    line-height: 40px;
    color: #000;
    text-align: center;
    font-weight: 800;
    font-size: 23px;
    text-transform: uppercase;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 12%;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3>p{
    font-size: 30px;
    font-weight: 700;
    width: 55%;
    line-height: 45px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;

}
#page3 #colon1{
    left: 20%;
    top: 80%;
}

#page3 #colon2{
    right: 17%;
    bottom: 8%;
}